<header class="site-header">
    {% include kpc_logo.svg %}
    <h1>
        <a href="/">Kyle Parker Cunningham</a>
        <span>Truth or Consequences & Taos &middot;  New Mexico</span><br/>
        <span>Artistic Communicator</span>
    </h1>
</header>
