<header class="site-header">
    {% include kpc_logo.svg %}
    <h1>
        <a href="/">Kyle Parker Cunningham</a>
        <span>Truth or Consequences & Taos &middot;  New Mexico</span><br/>
        <span>Artistic Communicator</span>
    </h1>
<br>
<br>
<br>

<a href="https://intentionallyconfusing.com">https://intentionallyconfusing.com</a>
<a href="https://desertarchaic.com">https://desertarchaic.com</a>

<br>

<a href="https://shop.intentionallyconfusing.com">https://shop.intentionallyconfusing.com</a>
<br>

<a href="https://instagram.com/kyleparkercunningham">instagram</a> 
<a href="https://facebook.com/kyleparkercunningham">facebook</a>


</header>
