<header class="site-header">
<a href="/">
    {% include kpc_logo.svg %}
    <h1>
        Kyle Parker Cunningham<br>
        <span>Truth or Consequences & Taos &middot;  New Mexico</span><br/>
        <span>Artistic Communicator</span>
    </h1>
</a>
</header>
